@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/credit-card");
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: #eae2ff;
  overscroll-behavior: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  box-sizing: border-box;
  word-break: break-all;
}

notice {
  display: block;
  display: none;
  font-size: 12px;
  white-space: nowrap;
  transition: color 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
notice:before {
  content: "*";
}

header {
  width: 100vw;
  height: 100px;
  background: #ccbaff;
  border-radius: 0 0 50px 50px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.5019607843) 0 0 24px 12px;
}

#main {
  position: absolute;
  top: 0;
  left: 5vw;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#form {
  width: 428px;
  height: 270px;
}

#wrap {
  width: 428px;
  height: 270px;
  height: 270px;
  max-width: 428px;
  border-radius: 12px;
  position: relative;
  perspective: 1500px;
  transform-style: preserve-3d;
}
#wrap:hover #card {
  transform: rotateY(180deg);
}

#card, #form {
  transition: background-image 0.5s linear;
  text-align: center;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 24px 12px;
  overflow: hidden;
}

#card {
  transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  height: 270px;
  max-width: 428px;
  font-family: "Credit Card";
  text-transform: uppercase;
  font-size: 25px;
  transform-style: preserve-3d;
}

.card-side {
  width: 428px;
  width: 428px;
  height: 270px;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  border-radius: 12px;
  backface-visibility: hidden;
}

#card-front {
  height: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-back {
  transform: rotateY(180deg);
  position: absolute;
  width: 428px;
  height: 270px;
  background-image: url(./img/chip.jpeg);
}

#exp-date {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 16px;
}

#card-name {
  position: absolute;
  bottom: 24px;
  left: 32px;
  font-size: 25px;
  white-space: nowrap;
}
#card-name.placeholder {
  color: hsla(0, 0%, 50%, 0.5);
}
#card-name.placeholder:before {
  content: "John Doe";
}
#card-name.ellipsis:after {
  content: "…";
}

#chip {
  width: 75px;
  border-radius: 7.5px;
  position: absolute;
  top: 24px;
  left: 24px;
}

#card-num {
  word-spacing: 16px;
  letter-spacing: -1px;
}

.card-date {
  font-size: 10px;
}

.date {
  width: 1.75em;
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input:not([type=checkbox]) {
  outline: none;
  border: lightgray 1px solid;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0);
  transition: color 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  font-family: monospace;
}

input:disabled {
  border: #404040 1px solid;
  opacity: 0.25;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

input:enabled.error {
  border-color: #ff8080 !important;
}

input:enabled.error:not(:focus) {
  border-color: #ff8080 !important;
}

body:has(.error) {
  background-color: #ccbaba;
}

#full-name { /* width:16.25em; */
  border-color: transparent;
  overflow: hidden;
}

notice.shown {
  display: block;
}

.toggle {
  display: block;
  outline: 0;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to right, #ccbaff 49.5%, #393447 50.5%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  cursor: pointer;
}

#toggle {
  width: 50px;
  height: 50px;
}

body:not(:has(#toggle:checked)) notice {
  color: #ffc0c0;
}
body:not(:has(#toggle:checked)) #form {
  background-image: url("./img/dark.png");
  color: white;
  transition-property: background-image, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
body:not(:has(#toggle:checked)) #card {
  background-image: url("./img/light.png");
  color: black;
  transition-property: background-image, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
body:not(:has(#toggle:checked)) input {
  color: white;
  caret-color: white;
}

body:has(#toggle:checked) .toggle {
  transform: rotate(180deg);
}
body:has(#toggle:checked) notice {
  color: #804040;
}
body:has(#toggle:checked) #form {
  background-image: url("./img/light.png");
  color: black;
  transition-property: background-image, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
body:has(#toggle:checked) #card {
  background-image: url("./img/dark.png");
  color: white;
  transition-property: background-image, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

#toggle.le {
  transform: rotate(180deg);
}/*# sourceMappingURL=sty.css.map */